<div id="MoipWidget" data-token="<%= @order.moip_token %>" callback-method-success="funcao_sucesso" callback-method-error="funcao_falha"></div>
<% param_prefix = "payment_source[#{payment_method.id}]" %>

<div id="moip-payment">
  <fieldset>
    <legend>Instituiçao</legend>
    <%= label_tag do %>
      <%= radio_button_tag :instituicao, "Visa" %>
      Visa
    <% end %>

    <%= label_tag do %>
      <%= radio_button_tag :instituicao, "AmericanExpress" %>
      American Express
    <% end %>

    <%= label_tag do %>
      <%= radio_button_tag :instituicao, "Diners" %>
      Diners
    <% end %>

    <%= label_tag do %>
      <%= radio_button_tag :instituicao, "Hipercard" %>
      Hipercard
    <% end %>

    <%= label_tag do %>
      <%= radio_button_tag :instituicao, "Mastercard" %>
      Mastercard
    <% end %>
  </fieldset>

  <p>
    <%= label_tag :numero, "Número" %>
    <%= text_field_tag :numero %>
  </p>

  <p>
    <%= label_tag :codigo_seguranca, "Codigo de segurança" %>
    <%= text_field_tag :codigo_seguranca %>
  </p>

  <p>
    <%= label_tag :expiracao, "Expiração" %>
    <%= text_field_tag :expiracao %>
  </p>

  <p>
    <%= label_tag :nome, "Nome" %>
    <%= text_field_tag :nome %>
  </p>

  <p>
    <%= label_tag :data_nascimento, "Data de nascimento" %>
    <%= text_field_tag :data_nascimento %>
  </p>

  <p>
    <%= label_tag :telefone, "Telefone" %>
    <%= text_field_tag :telefone %>
  </p>

  <p>
    <%= label_tag :identidade, "CPF" %>
    <%= text_field_tag :identidade %>
  </p>
</div>